.backGroundIndex {
    background-image: url('../images/hotel.jpg');
}

body {
    background-size: cover;
    height: 100vh;
}

.header_line {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(255,255,255,0));
}